<link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="/public/Deliver.svg" alt="Deliver Logo" class="logo">
            <img src="/public/EU_logo.svg" alt="EU Logo" class="logo">
            <img src="/public/manchester_logo.png" alt="Manchester Logo" class="logo">
        </div>
